<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zego.videofilter">

    <application>
        <activity android:name=".ui.VideoFilterMainUI" />
        <activity android:name=".ui.FUBeautyActivity" />

    </application>

</manifest>