<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cc.customrender">

    <application>
        <activity android:name="im.zego.customrender.ui.FUVideoRenderUI" />
        <activity android:name="im.zego.customrender.ui.ZGVideoRenderUI" />
        <activity android:name="im.zego.customrender.ui.ZGVideoRenderTypeUI" />
    </application>

</manifest>
