<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zego.mediarecorder">

    <application>
        <activity android:name="com.zego.mediarecorder.ZGMediaRecorderReplayUI" />
        <activity android:name="com.zego.mediarecorder.ZGMediaRecorderRecordUI" />
    </application>

</manifest>
